html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Aleo', serif;
    font-family: 'Magra', sans-serif;
    font-family: 'Red Hat Text', sans-serif; */
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

li {
    list-style-type: none;
}

button {
    background-color: #0D606F;
    border: none;
    border-radius: 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.sections-title {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    text-align: center;
}


/* HEADER */
.header {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    padding: 0 120px;
    background: rgba(242, 120, 92, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    box-shadow: 0 5px 5px rgba(13, 96, 111, 0.7);
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Magra', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
}

.icon {
    width: 30px;
    height: 30px;
    fill: #fff;
}

.header-nav_items {
    display: flex;
    gap: 42px;
}

.login-button {
    width: 103px;
    height: 43px;
    font-size: 16px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

/* PREVIEW SECTION */
.preview {
    height: 765px;
    padding-top: 122px;
    padding-left: 120px;
    background-image: url(./assets/jpg/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg);
    background-repeat: no-repeat;
}

.preview-wrapper {
    max-width: 892px;
}

.preview-title {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 80px;
    color: #fff;
}

.preview-subtitle {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 45px;
}

.preview-search {
    height: 95px;
    padding-left: 41px;
    padding-right: 18px;    
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search {
    width: 65%;
    background: inherit;
    border: none;
}

.search-button {
    width: 228px;
    height: 59px;
    font-size: 24px;
}

::placeholder {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-size: 24px;
    line-height: 28.8px;
    color: #F2785C;
}

/* STEPS SECTION */
.steps-wrapper {
    max-width: 1177px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 97px;
    text-align: center;
}

.steps-items {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.steps-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.steps-item_icon {    
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps-icon_bike {
    fill: #fff;
    width: 50px;
    height: 45px;
}

.steps-icon_calendar {
    fill: #fff;
    width: 52px;
    height: 52px;
}

.steps-icon_airplane {
    fill: #fff;
    width: 60px;
    height: 45px;
}

.steps-item_description {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 20px;
    color: #0D606F;
}


/* DESTINATIONS */

.destinations {
    overflow: hidden;
    text-align: center;
}

.destinations-items {
    width: 2520px;
    margin-top: 46px;
    display: flex;
    gap: 60px;
}

.destinations-item_spain {
    width: 800px;
    height: 800px;
    background-image: url(./assets/jpg/Rectangle\ 23.jpg);
    display: flex;
    align-items: flex-end;
}

.destinations-item_japan {
    width: 800px;
    height: 800px;
    background-image: url(./assets/jpg/Rectangle\ 24.jpg);
    display: flex;
    align-items: flex-end;
}

.destinations-item_usa {
    width: 800px;
    height: 800px;
    background-image: url(./assets/jpg/Rectangle\ 25.jpg);
    display: flex;
    align-items: flex-end;
}

.destinations_slider-bottoms{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
}

.destinations_slider-bottom {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
}

.slider-bottom_active {
    background: rgba(242, 120, 92, 1);
}

.destinations-button {
    margin: 40px auto 0;
    width: 228px;
    height: 59px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destinations-button_arrow {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.destinations-button_text {
    padding-left: 10px;
}


